{% load static %}
<footer class="">
    <div class=" w-full bg-cover bg-center"
         style="background-image: url({% static 'photo_galirey/img/background_image_footer-min.png' %})">
        <div class="pb-[40px] pt-[50px] mx-auto max-w-7xl justify-between flex flex-col px-[16px] sm:px-[30px]">
            <a class="inline-block font-medium cursor-pointer mb-[20px]" href="{% url 'home' %}">
                <span class="text-[25px] font-italictext">Disipion Salinia</span>
            </a>
            <div class="flex  flex-col sm:flex-row justify-between">
                <div class="mb-[20px]">
                    <span class="font-semibold text-lg mb-3 block">Меню</span>
                    <ul>
                        {% for key, val in menu.items %}
                        <li class="mb-2">
                            <a href="{% url val %}" class="cursor-pointer">{{ key }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="mb-[20px]">
                    <span class="block font-semibold text-lg mb-3">Контакты</span>
                    <div class="flex mb-2">
                        <img src="{% static 'photo_galirey/img/phone_icon.svg' %}" alt="телефон" class="pr-2">
                        <span>+8 900 341-24-49</span>
                    </div>
                    <div class="flex mb-2">
                        <img src="{% static 'photo_galirey/img/phone_icon.svg' %}" alt="телефон" class="pr-2">
                        <span>+8 900 341-24-49</span>
                    </div>
                    <div class="flex mb-2">
                        <img src="{% static 'photo_galirey/img/email_icon.svg' %}" alt="телефон" class="pr-2">
                        <span>gmadfdji@gmail.com</span>
                    </div>
                    <div class="flex mb-2">
                        <img src="{% static 'photo_galirey/img/map.svg' %}" alt="телефон" class="pr-2">
                        <span>г. Москва ул. Парковая 2-я</span>
                    </div>
                </div>
                <div>
                    <span class="font-semibold text-lg mb-3 block">Социальные сети</span>
                    <div class="flex mb-2 sm:justify-between lg:justify-start">
                        <a href=""><img src="{% static 'photo_galirey/img/vk_contact_icon.svg' %}" alt="vk" class="pr-2 min-w-[44px] min-h-[44px] lg:w-0 lg:h-0"></a>
                        <a href=""><img src="{% static 'photo_galirey/img/facebook_contact_icon.svg' %}" alt="facebook" class="pr-2 min-w-[44px] min-h-[44px] lg:w-0 lg:h-0"></a>
                        <a href=""><img src="{% static 'photo_galirey/img/inst_contact_icon.svg' %}" alt="inst" class="lg:hidden min-w-[44px] min-h-[44px] lg:w-0 lg:h-0"></a>
                    </div>
                    <a href="" class="hidden lg:inline-block"><span>@dmitrirocit</span></a>
                    <div class="hidden lg:grid grid-cols-3 ">
                        <a href=""><img src="{% static 'photo_galirey/img/inst_img_1-min.png' %}" alt="пост из instagram 1"></a>
                        <a href=""><img src="{% static 'photo_galirey/img/inst_img_2-min.png' %}" alt="пост из instagram 2"></a>
                        <a href=""><img src="{% static 'photo_galirey/img/inst_img_3-min.png' %}" alt="пост из instagram 3"></a>
                        <a href=""><img src="{% static 'photo_galirey/img/inst_img_4-min.png' %}" alt="пост из instagram 4"></a>
                        <a href=""><img src="{% static 'photo_galirey/img/inst_img_5-min.png' %}" alt="пост из instagram 5"></a>
                        <a href=""><img src="{% static 'photo_galirey/img/inst_img_6-min.png' %}" alt="пост из instagram 6"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-black/[.50]">
            <div class=" text-white flex flex-col py-5 px-[16px] sm:px-[30px] w-fit m-auto">
                <h2 class="text-xl mb-2 w-fit">Заказать звонок</h2>
                <div class="flex flex-col lg:flex-row max-w-[800px]">
                    <div class="mr-[20px] mb-[15px]">
                        Если вы хотите обсудить то, как я могу помочь запечатлеть ваши особенные моменты, закажите звонок, и я буду рад ответить на любые ваши вопросы.
                    </div>
                    <a href="{% url 'contacts' %}">
                        <div class="rounded-[2px] bg-[#C08267] px-3 py-[10px] w-max">Заказать звонок</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="flex my-3 px-[16px] sm:px-[30px] justify-center text-black">
        <p class=" text-sm text-center">Сайт создан «NITforB» © 2023 Все права защищены</p>
    </div>

</footer>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery.maskedinput@1.4.1/src/jquery.maskedinput.min.js"
        type="text/javascript"></script>
<script type="module" src="{% static 'photo_galirey/js/footer.js' %}"></script>
</body>
</html>