{% load static %}
{% include 'photo_galirey/header.html' %}
<section class="flex-col px-2 py-24 mx-auto max-w-7xl">
     <div class="grid 2xl:grid-cols-3 xl:grid-cols-3 lg:grid-cols-2 sm:grid-cols-2 grid-cols-1 gap-x-6 gap-y-12 w-full">

        {% for i in imgs_gallery %}
         <div class="w-full bg-white overflow-hidden cursor-zoom-in oneclick_open_slider" data-idslid="0">
            <img src="{{ i.img.url }}" class="object-cover w-full h-[400px] open" alt=""/>
        </div>
         {% endfor %}

    </div>
    {% if review and review.publication %}
    <div class="flex flex-col mt-[60px]">
        <h4 class="mb-[25px] text-[25px]">Отзывы от клиента</h4>
        <div class="">
            <div class="flex mb-[20px]">
                <div class="w-[72px] h-[72px] rounded-full overflow-hidden mr-[15px]">
                    <img src="{{ review.img_reviewer.url }}" alt="" class="object-cover min-h-[100%] min-w-[100%]">
                </div>
                <div class="flex flex-col text-[14px]">
                    <h4 class="text-[#C08267] text-[20px]">{{ review.name_reviewer }}</h4>
                    <a href="{{ review.gallery.get_absolute_url }}" class="underline mb-[5px] cursor-pointer">“{{ review.gallery.name_work }}”</a>
                    <a href="{{ review.social_networks }}" class="text-[#C08267]">@социальная сеть</a>
                </div>
            </div>
            <div>{{ review.review|truncatechars:140 }} <a href="{{ review.get_absolute_url }}" class="text-[#C08267] cursor-pointer">Подробнее</a></div>
        </div>
    </div>
    {% else %}
    <section class="flex mt-[60px] flex-col justify-between">
        <h3 class="mb-[15px] text-[25px]">Оставить отзыв</h3>
        <form class="flex flex-col" method="post" id="form_write_review" data-gallery="{{ gallery_int.pk }}">
            {% csrf_token %}
            <input id="{{ write_review_form.social_networks.auto_id }}" name="{{ write_review_form.social_networks.name }}" type="text" placeholder="Ссылка на соц есть для связи  /  VK, Instagram, Facebook"
                   class="w-[60%] rounded-[2px] bg-white border-[#212123]/[.70] border-[1px] mb-[15px] px-[30px] pt-[13px] pb-[12px]">
            <input id="{{ write_review_form.name_reviewer.auto_id }}" name="{{ write_review_form.name_reviewer.name }}" type="text" placeholder="Имя  /  Name"
                   class="w-[40%] rounded-[2px] bg-white border-[#212123]/[.70] border-[1px] mb-[15px] px-[30px] pt-[13px] pb-[12px]">
            <textarea id="{{ write_review_form.review.auto_id }}" name="{{ write_review_form.review.name }}" type="text" placeholder="Отзыв  /  Review"
                      class="rounded-[2px] bg-white border-[#212123]/[.70] border-[1px] mb-[15px] px-[30px] pt-[13px] pb-[12px] h-[170px]"></textarea>
            <button type="submit"
                    class="rounded-[2px] border-[#C08267] border-[1px] text-[#C08267] px-[18px] pt-[11px] pb-[12px] w-fit open_modal_window_send_review_ok">
                Отправить
            </button>
        </form>

    </section>
    <div class="fixed top-0 left-0 h-screen w-screen hidden z-[100]" id="modal_window_send_review_ok">
        <div class="fixed top-0 left-0 h-screen w-screen bg-[#212123]/[.85] backdrop-blur-[10px] close_modal_window_send_review_ok"></div>
        <div class="overflow-hidden relative w-[540px] h-[200px] fixed top-[50%] left-[50%] translate-y-[-50%] translate-x-[-50%] bg-[#fff] ">
            <div class="blur-[60px] rounded-full h-[100px] w-[100px] bg-[#C08267] absolute top-[-10px] left-[-10px]"></div>
            <div class="top-[10px] right-[10px] absolute w-[17px] h-[17px] cursor-pointer close_modal_window_send_review_ok">
                <div class="bg-[#C08267] h-[2px] w-[15px] absolute rotate-[45deg] top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%]"></div>
                <div class="bg-[#C08267] h-[2px] w-[15px] absolute rotate-[-45deg] top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%]"></div>
            </div>
            <div class="flex items-center flex-col top-[50%] left-[50%] absolute translate-x-[-50%] translate-y-[-50%]">
                <h5 class="inline-block text-[24px] text-center mb-[20px] w-[460px]">Мы рады что вы оставили свой отзыв, он будет добавлен после модерации</h5>
                <div class="inline-block text-[#C08267] border-2 border-solid border-[#C08267] text-[16px] py-[10px] px-[40px] w-fit cursor-pointer close_modal_window_send_review_ok">
                    Хорошо
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <div id="slider" class="hidden z-[50]">
        <div id="slider-list" class="fixed top-0 left-0 w-[100vw] h-[100vh] z-[100] overflow-hidden">
            <div id="slider_track" class="flex">
                {% for i in imgs_gallery %}
                <div class="relative top-0 left-0 h-screen w-screen bg-[#212123]/[.85] backdrop-blur-[10px] shrink-0 slide">
                    <img src="{{ i.img.url }}" alt="" class="relative top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%] max-w-[89%] max-h-[80%]"/>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="fixed z-[100]">
            <button class="fixed top-[20px] right-[20px] cursor-pointer but_close_slider oneclick_close_slider"><img src="{% static 'photo_galirey/img/close_icon_fff.svg' %}" alt=""/></button>
            <div class="fixed top-[20px] left-[20px] text-[#fff]">
                <span id="indicator_index_activ">1</span>/<span id="indicator_index_length"></span>
            </div>
            <button id="slider_arrows_left" class="fixed top-[50%] translate-y-[-50%] left-[20px] w-[40px] h-[50px] cursor-pointer"><img src="{% static 'photo_galirey/img/arrow.svg' %}"/></button>
            <button id="slider_arrows_right" class="fixed top-[50%] translate-y-[-50%] right-[20px] w-[40px] h-[50px] rotate-180 cursor-pointer"><img src="{% static 'photo_galirey/img/arrow.svg' %}"/></button>
<!--            <div class="fixed bottom-[50px] right-[50%] translate-x-[50%] flex">-->
<!--                <div class="w-[20px] h-[20px] bg-[#fff]/[.88] rounded-full cursor-pointer mr-[20px] last:mr-0"></div>-->
<!--                <div class="w-[20px] h-[20px] bg-[#fff]/[.88] rounded-full cursor-pointer mr-[20px] last:mr-0"></div>-->
<!--                <div class="w-[20px] h-[20px] bg-[#fff]/[.88] rounded-full cursor-pointer mr-[20px] last:mr-0"></div>-->
<!--            </div>-->
        </div>
    </div>

</section>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script type="module" src="{% static 'photo_galirey/js/gallery_int.js' %}"></script>


{% include  'photo_galirey/footer.html' %}