{% load static %}
<!DOCTYPE html>
<html lang="ru" class="text-[#212123]">
<head>
    <link href="{% static 'photo_galirey/css/output.css' %}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Dancing+Script:wght@700&family=Yeseva+One&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <title>{{ menu_activ }}</title>
</head>
<body>

<header class="bg-cover bg-center pb-[7rem] h-[100vh] flex flex-col justify-between text-white" style="background-image: url('{% static 'photo_galirey/img/background_image_header_index.png' %}')">
    <div class="flex pt-[45px] py-5 px-10 justify-between w-full">
        <a class="font-medium cursor-pointer" href="{% url 'home' %}">
            <span class="text-[25px] font-italictext">Disipion Salinia</span>
        </a>
        <nav class="flex items-center justify-between w-[30%]">
            {% for key, val in menu.items %}
                {% if menu_activ == key %}
                    <a href="{% url val %}" class="cursor-pointer border-b-2 border-white">{{ key }}</a>
                {% else %}
                    <a href="{% url val %}" class="cursor-pointer hover:opacity-[.80]">{{ key }}</a>
                {% endif %}
            {% endfor %}
        </nav>
    </div>
    <div class="bg-black flex-col px-10 py-11 w-[650px] bg-opacity-[.73] text-white">
        <h2 class="flex text-5xl">Заказать фотографа</h2>
        <div class="flex mt-6 mb-[21px] opacity-[.85]">Авным образом начало повседневной работы по формированию позиции способствует подготовки и реализации направлений</div>
        <button class="rounded-[2px] text-[20px] border-[1px] border-[#C08267] text-[#C08267] flex px-[21px] py-[5px] hover:text-white hover:bg-[#C08267]">Заказать</button>
    </div>
</header>
