{% load humanize %}
{% load static %}
{% include  'photo_galirey/header_index.html' %}
<section class="flex flex-col  lg:flex-row px-[16px] sm:px-[30px] pt-[40px] mx-auto max-w-7xl justify-between items-center">
    <div class="lg:relative lg:h-[600px] w-[100%] lg:w-[46%] lg:mr-[40px] mb-[40px] lg:mb-0 sm:flex lg:block">
        <img src="{% static 'photo_galirey/img/about_me_img_2-min.png' %}" alt=""
             class="w-[100%] sm:w-1/2 lg:w-3/4 h-[380px] lg:h-[560px] object-cover lg:absolute top-0 left-0 sm:mr-[8px] lg:mr-0">
        <img src="{% static 'photo_galirey/img/about_me_img_2-min.png' %}" alt=""
             class="w-1/2 lg:w-2/3 h-[380px] object-cover lg:absolute bottom-0 right-0 hidden sm:block">
    </div>
    <div class="lg:w-[46%]">
        <h2 class="text-[30px] mb-[20px]">Обо Мне</h2>
        <h3 class="text-[#C08267] text-[27px] mb-[20px]">Дмитрий Рокотов</h3>
        <div class="mb-[30px]">
            <p>Привет! Меня зовут Дмитрий Рокотов и я являюсь профессиональным фотографом. Я считаю, что фотографии являются самым лучшим способом сохранить воспоминания на всю жизнь, поэтому я с большой ответственностью подхожу к каждой съемке. Моя цель - не просто сделать красивые фотографии, а передать эмоции и настроение, которые были в момент съемки. Я всегда открыт к общению, готов выслушать ваши пожелания и предложения, чтобы создать идеальный результат. Я с нетерпением жду возможности запечатлеть ваши незабываемые моменты на фотографиях!</p>
            <br>
            <p>Моя любовь к фотографии началась еще в детстве, когда я впервые взял в руки фотоаппарат. С тех пор я увлекся этим видом искусства и начал учиться всему, что связано с фотографией. С годами я стал профессиональным фотографом, и моя любовь к съемке только укрепилась. Каждый раз, когда я снимаю, я стараюсь передать не только красоту окружающего мира, но и чувства и эмоции, которые испытывает человек в момент съемки. Я горжусь тем, что могу помочь людям сохранить воспоминания на всю жизнь с помощью фотографий.</p>
            <br>
            <p>Каждый клиент для меня очень важен, и я всегда стараюсь создать комфортную и доверительную обстановку на съемке. Я понимаю, что некоторые люди могут чувствовать себя неуютно перед камерой, поэтому я всегда помогаю им расслабиться и чувствовать себя свободно. Мне нравится работать с разными людьми, и каждый раз, когда я получаю благодарность от своих клиентов, я чувствую себя действительно счастливым. Я постоянно стремлюсь улучшить свои навыки и знания, чтобы предоставлять своим клиентам самый лучший сервис и качественные фотографии.</p>
        </div>
        <div class="flex justify-end"><span class="text-[27px] text-[#C08267] font-italictext">Disipion</span></div>
    </div>
</section>
<section class="flex-col px-[16px] sm:px-[30px] pt-[40px] mx-auto max-w-7xl">
    <h2 class="mb-6 text-[30px]">Преимущества и особенности работы со мной</h2>
    <div>
        <div class="flex items-start mb-[21px]">
            <div class="h-[2px] min-w-[16px] bg-[#C08267] mt-[10px] mr-[12px]"></div>
            <p class="opacity-[.85]">Тут написанны особенности заказа, заключения договора, и все сторонние процидуры
                которые надо описать.</p>
        </div>
        <div class="flex items-start mb-[21px]">
            <div class="h-[2px] min-w-[16px] bg-[#C08267] mt-[10px] mr-[12px]"></div>
            <p class="opacity-[.85]">Я с радостью проведу с вами предварительную встречу мы посидим в кафе, поболтаем,
                или же просто пообщаемся по skype. Так мы лучше узнаем друг друга, вы расскажете, что нравится вам, а я
                поделюсь своим опытом.</p>
        </div>
        <div class="flex items-start mb-[21px]">
            <div class="h-[2px] min-w-[16px] bg-[#C08267] mt-[10px] mr-[12px]"></div>
            <p class="opacity-[.85]">Во время съёмки весь материал дублируется на 2 флешки — риск остаться без
                фотографий равен нулю.</p>
        </div>
        <div class="flex items-start mb-[21px]">
            <div class="h-[2px] min-w-[16px] bg-[#C08267] mt-[10px] mr-[12px]"></div>
            <p class="opacity-[.85]">Я отдаю фотографии через современный специализированный сайт-галерею. Поверьте, это
                выглядит намного красивее, чем на флешке, и не требует дополнительных временных затрат для передачи
                материала.</p>
        </div>
        <div class="flex items-start mb-[21px]">
            <div class="h-[2px] min-w-[16px] bg-[#C08267] mt-[10px] mr-[12px]"></div>
            <p class="opacity-[.85]">Я не стесняюсь показать полный материал с других свадеб так вы сможете наглядно
                убедиться в моем профессионализме и будете уверены в результате.</p>
        </div>
    </div>
</section>

<section class="pt-[40px]" id="scroll_service">
    <h2 class="mb-6 text-[30px] mx-auto px-[16px] sm:px-[30px] max-w-7xl">Услуги</h2>
    {% for i in services %}
    {% if i.publication %}
    <div class="border-t-[1px] border-solid border-[#212123]/[.30]">
        <div class="bg-center bg-cover services_list_unactiv"
             style="background-image: url({{ i.img_background_services.url }})" data-index="{{ i.pk }}">
            <div class="bg-white/[.88] py-[15px]">
                <div class="mx-auto px-[16px] sm:px-[30px] max-w-7xl flex justify-between">
                    <h3 class="text-[20px]">{{ i.name_services }}</h3>
                    <img src="{% static 'photo_galirey/img/+_icon.svg' %}" alt=""
                         class="cursor-pointer services_button_open" data-index="{{ i.pk }}">
                </div>
            </div>
        </div>

        <div class="bg-center bg-cover hidden services_list_activ"
             style="background-image: url({{ i.img_background_services.url }})" data-index="{{ i.pk }}">
            <span class="h-[1px] block"></span>
            <div class="bg-white/[.88] mt-[200px]">
                <div class="mx-auto px-2 max-w-7xl">
                    <div class="flex justify-between py-[15px] px-[16px] sm:px-[30px]">
                        <h3 class="text-[#C08267] text-[24px]">{{ i.name_services }}</h3>
                        <img src="{% static 'photo_galirey/img/-_icon.svg' %}" alt=""
                             class="cursor-pointer services_buttons_close" data-index="{{ i.pk }}">
                    </div>
                    <div class="py-[15px] px-[16px] sm:px-[30px] flex-col">
                        <div class="flex justify-between flex-col lg:flex-row">
                            <div class="w-[100%] lg:w-[50%] pr-[20px]">
                                <ul class="">
                                    {% for j in specifics_services %}
                                    {% if j.services == i %}
                                    <li class="flex mb-[20px]">
                                        <div class="h-[2px] min-w-[16px] bg-[#C08267] mt-[10px] mr-[12px]"></div>
                                        <span>{{ j.specifics }}</span>
                                    </li>
                                    {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="w-[100%] lg:w-[50%]">
                                <span class="font-bold mb-[10px] inline-block">Описание услуги</span>
                                <p> &emsp;{{ i.description }}</p>
                                <div class="mt-[30px] mb-[20px]">
                                    <span class="font-bold mb-[10px] inline-block">Почему это столько стоит?</span>
                                    <p> &emsp;{{ i.question_price }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="flex justify-between text-[20px]">
                            <span class="">{{ i.price|intcomma }} р</span>
                            <button class="border-b-2 border-[#C08267] open_modal_window_order_photo" data-service="{{ i.pk }}">Заказать</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
    <span class="h-[1px] w-full bg-[#212123]/[.30] block"></span>
</section>

<section class="bg-gradient-to-t  from-[#CCB9B1]/[.22] to-[#fff]">
    <div class="flex-col px-[16px] sm:px-[30px] pt-[40px] mx-auto max-w-7xl pb-[20px]">
        <h2 class="mb-6 text-[30px]">Лучшие Работы</h2>
        <div class="flex justify-center h-[1400px] mb-[35px]">
            <div class="flex flex-col justify-between sm:mr-[8px] w-[100%] sm:w-1/2 lg:w-1/3">
                <div class="h-[270px] overflow-hidden">
                    <img src="{% static 'photo_galirey/img/prevy_img/beautiful-bride-luxury-dress-is-standing-stone-near-highland-lake-warm-sunny-day-min.jpg' %}" alt="" class="object-cover h-[100%] w-[100%]">
                </div>
                <div class="h-[550px] overflow-hidden">
                    <img src="{% static 'photo_galirey/img/prevy_img/beautiful-woman-posing-outdoors-medium-shot-min.jpg' %}" alt="" class="object-cover h-[100%] w-[100%]">
                </div>
                <div class="h-[270px] overflow-hidden">
                    <img src="{% static 'photo_galirey/img/prevy_img/beauty-fashion-portrait-young-blond-woman-model-with-natural-makeup-perfect-skin-with-bright-flowers-posing-min.jpg' %}" alt="" class="object-cover h-[100%] w-[100%]">
                </div>
                <div class="h-[270px] overflow-hidden">
                    <img src="{% static 'photo_galirey/img/prevy_img/caucasian-brunette-woman-with-golden-tan-hiding-tropical-leaves-palm-trees-standing-summer-bikini-looking-sensual-concept-tourism-tropic-holidays-min.jpg' %}" alt="" class="object-cover h-[100%] w-[100%]">
                </div>
            </div>
            <div class="flex flex-col justify-between lg:mr-[8px] hidden sm:flex sm:w-1/2 lg:w-1/3">
                <div class="h-[550px] overflow-hidden">
                    <img src="{% static 'photo_galirey/img/prevy_img/fashion-bride-luxury-dress-min.jpg' %}" alt="" class="object-cover h-[100%] w-[100%]">
                </div>
                <div class="h-[270px] overflow-hidden">
                    <img src="{% static 'photo_galirey/img/prevy_img/half-face-young-caucasian-blonde-girl-with-closed-eyes-surrounded-with-lots-purple-violet-lilac-wallpaper-spring-melody-min.jpg' %}" alt="" class="object-cover h-[100%] w-[100%]">
                </div>
                <div class="h-[270px] overflow-hidden">
                    <img src="{% static 'photo_galirey/img/prevy_img/lonely-young-female-with-blonde-hair-sitting-by-sea-enjoying-her-peaceful-time-min.jpg' %}" alt="" class="object-cover h-[100%] w-[100%]">
                </div>
                <div class="h-[270px] overflow-hidden">
                    <img src="{% static 'photo_galirey/img/prevy_img/portrait-beautiful-woman-autumn-park_1303-25693-min.png' %}" alt="" class="object-cover h-[100%] w-[100%]">
                </div>
            </div>
            <div class="flex-col justify-between hidden lg:flex w-1/3">
                <div class="h-[270px] overflow-hidden">
                    <img src="{% static 'photo_galirey/img/prevy_img/portrait-couple-background-greek-city-brunette-lady-beige-dress-man-stylish-outfit-looks-each-other-with-love-sea-background-min.jpg' %}" alt="" class="object-cover h-[100%] w-[100%]">
                </div>
                <div class="h-[270px] overflow-hidden">
                    <img src="{% static 'photo_galirey/img/prevy_img/romantic-wedding-couple-love-standing-sea-eye-lake-poland-tatra-mountains-min.jpg' %}" alt="" class="object-cover h-[100%] w-[100%]">
                </div>
                <div class="h-[270px] overflow-hidden">
                    <img src="{% static 'photo_galirey/img/prevy_img/wavy-haired-woman-in-light-shirt-with-black-lace-sniffing-flower-in-city-tender-woman-with-red-lips-and-short-hair-poses-at-street-min.jpg' %}" alt="" class="object-cover h-[100%] w-[100%]">
                </div>
                <div class="h-[550px] overflow-hidden">
                    <img src="{% static 'photo_galirey/img/prevy_img/medium-shot-smiley-woman-posing-min.jpg' %}" alt="" class="object-cover h-[100%] w-[100%]">
                </div>
            </div>
        </div>
        <div class="flex justify-center lg:justify-end">
            <a href="{% url 'gallery' %}" class="border-b-2 border-[#C08267] text-[20px]">Остальное портфолио</a>
        </div>
    </div>
</section>
<section class="px-2 pt-[40px] pb-[40px] mx-auto max-w-7xl">
    <h2 class="mb-6 text-[30px] px-[16px] sm:px-[30px]">Часто задаваемые вопросы</h2>
    <div>
        {% for i in faq %}
        {% if i.publication %}
        <div class="border-t-[1px] border-solid border-[#212123]/[.30]">
            <div class="faq_list_unactiv" data-index="{{ i.pk }}">
                <div class="flex justify-between my-[15px] px-[16px] sm:mx-[30px]">
                    <span class="text-[20px]">{{ i.name_faq }}</span>
                    <img src="{% static 'photo_galirey/img/+_icon.svg' %}" alt="" class="cursor-pointer faq_button_open"
                         data-index="{{ i.pk }}">
                </div>
            </div>
            <div class="hidden faq_list_activ" data-index="{{ i.pk }}">
                <div class="flex justify-between my-[15px] px-[16px] sm:mx-[30px]">
                    <span class="text-[#C08267] text-[24px]">{{ i.name_faq }}</span>
                    <img src="{% static 'photo_galirey/img/-_icon.svg' %}" alt=""
                         class="cursor-pointer faq_buttons_close" data-index="{{ i.pk }}">
                </div>
                <div class="mb-[15px] mx-[45px] opacity-[.85]">
                    {{ i.description|linebreaksbr|linebreaks }}
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
        <span class="h-[1px] w-full bg-[#212123]/[.30] block"></span>
    </div>
</section>
<div class="fixed top-0 left-0 h-screen w-screen hidden z-[100]" id="modal_window_order_photo_ok">
    <div class="fixed top-0 left-0 h-screen w-screen bg-[#212123]/[.85] backdrop-blur-[10px] close_modal_window_order_photo_ok"></div>
    <div class="overflow-hidden relative w-[100%] lg:w-[540px] h-[80vh] sm:h-[250px] fixed top-[50%] left-[50%] translate-y-[-50%] translate-x-[-50%] bg-[#fff]">
        <div class="blur-[60px] rounded-full h-[100px] w-[100px] bg-[#C08267] absolute top-[-10px] left-[-10px]"></div>
        <div class="top-[10px] right-[10px] absolute w-[17px] h-[17px] cursor-pointer close_modal_window_order_photo_ok">
            <div class="bg-[#C08267] h-[2px] w-[15px] absolute rotate-[45deg] top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%] rounded-[2px]"></div>
            <div class="bg-[#C08267] h-[2px] w-[15px] absolute rotate-[-45deg] top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%] rounded-[2px]"></div>
        </div>
        <div class="flex items-center flex-col top-[50%] left-[50%] absolute translate-x-[-50%] translate-y-[-50%] w-[100%]">
            <h5 class="inline-block text-[24px] text-center mb-[20px] px-[16px] w-[100%] sm:w-[460px]">Мы рады что вы выбрали нас. Ожидайте
                звонка в течение одного рабочего дня</h5>
            <div class="inline-block text-[#C08267] border-2 border-solid border-[#C08267] text-[16px] py-[10px] px-[40px] w-fit cursor-pointer close_modal_window_order_photo_ok">
                Хорошо
            </div>
        </div>
    </div>
</div>
<div class="hidden fixed top-0 left-0 h-screen w-screen z-[100]" id="modal_window_order_photo">
    <div class="fixed top-0 left-0 h-screen w-screen bg-[#212123]/[.85] backdrop-blur-[10px] close_modal_window_order_photo"></div>
    <div class="overflow-hidden relative w-[100%] lg:w-[900px] h-auto fixed top-[50%] left-[50%] translate-y-[-50%] translate-x-[-50%] bg-[#fff]">
        <div class="blur-[60px] rounded-full h-[100px] w-[100px] bg-[#C08267] absolute top-[-10px] left-[-10px]"></div>
        <div class="top-[10px] right-[10px] absolute w-[17px] h-[17px] cursor-pointer close_modal_window_order_photo">
            <div class="bg-[#C08267] h-[2px] w-[15px] absolute rotate-[45deg] top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%] rounded-[2px]"></div>
            <div class="bg-[#C08267] h-[2px] w-[15px] absolute rotate-[-45deg] top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%] rounded-[2px]"></div>
        </div>
        <div class="flex items-center flex-col py-[50px]">
            <h5 class="inline-block text-[24px] text-center mb-[20px] w-[460px]">Форма заказа услуги</h5>
            <form class="flex flex-col items-center w-[100%] sm:w-[560px] px-[16px]" method="post" id="form_order_service" data-service="">
                {% csrf_token %}
                <input id="{{ order_service_form.call.auto_id }}" name="{{ order_service_form.call.name }}" type="phone" placeholder="Телефон  /  Phone" class="rounded-[2px] bg-white border-[#212123]/[.70] border-[1px] mb-[15px] px-[30px] pt-[13px] pb-[12px] w-[100%]">
                <input id="{{ order_service_form.email.auto_id }}" name="{{ order_service_form.email.name }}" type="text" placeholder="Email" class="rounded-[2px] bg-white border-[#212123]/[.70] border-[1px] mb-[15px] px-[30px] pt-[13px] pb-[12px] w-[100%]">
                <input id="{{ order_service_form.name.auto_id }}" name="{{ order_service_form.name.name }}" type="text" placeholder="Имя  /  Name" class="rounded-[2px] bg-white border-[#212123]/[.70] border-[1px] mb-[15px] px-[30px] pt-[13px] pb-[12px] w-[100%]">
                <textarea id="{{ order_service_form.message.auto_id }}" name="{{ order_service_form.message.name }}" type="text" placeholder="Сообщение  /  Message" class="rounded-[2px] bg-white border-[#212123]/[.70] border-[1px] mb-[15px] px-[30px] pt-[13px] pb-[12px] h-[170px] w-[100%]"></textarea>
                <button type="submit" class="inline-block text-[#C08267] border-[1px] border-solid border-[#C08267] text-[16px] py-[10px] px-[40px] w-fit cursor-pointer open_modal_window_order_photo_ok close_modal_window_order_photo">
                    Заказать
                </button>
            </form>
        </div>
    </div>
</div>

<script type="module" src="{% static 'photo_galirey/js/index.js' %}"></script>
{% include  'photo_galirey/footer.html' %}