{% load humanize %}
{% load static %}
{% include  'photo_galirey/header_index.html' %}
<section class="flex px-2 pt-24 mx-auto max-w-7xl justify-between items-center">
    <div class="relative h-[600px] w-[610px]">
        <img src="{% static 'photo_galirey/img/about_me_img_1.png' %}" alt="" class="w-[500px] h-[560px] object-cover absolute top-0 left-0">
        <img src="{% static 'photo_galirey/img/about_me_img_2.png' %}" alt="" class="w-[320px] h-[380px] object-cover absolute bottom-0 right-0">
    </div>
    <div class="w-[523px]">
        <h2 class="text-[30px] mb-[25px]">Обо Мне</h2>
        <h3 class="text-[#C08267] text-[27px] mb-[21px]">Дмитрий Рокотов</h3>
        <div class="mb-[80px]">
            <p>Авным образом начало повседневной работы по формированию позиции способствует подготовки и реализации направлений прогрессивного развития.</p>
            <br>
            <p>позиции способствует подготовки и реализации направлений прогрессивного развития.</p>
            <br>
            <p>Если хотите узнать о мне больше нажмите подробнее.</p>
        </div>
        <div class="flex justify-end"><span class="text-[27px] text-[#C08267] font-italictext">Disipion</span></div>
    </div>
</section>
<section class="flex-col px-2 pt-24 mx-auto max-w-7xl">
    <h2 class="mb-6 text-[30px]">Преимущества и особенности работы со мной</h2>
    <div>
        <div class="flex items-start mb-[21px]">
            <img src="{% static 'photo_galirey/img/-_icon.svg' %}" alt="--" class="mt-[12px] mr-[12px]">
            <p class="opacity-[.85]">Тут написанны особенности заказа, заключения договора, и все сторонние процидуры которые надо описать.</p>
        </div>
        <div class="flex items-start mb-[21px]">
            <img src="{% static 'photo_galirey/img/-_icon.svg' %}" alt="--" class="mt-[12px] mr-[12px]">
            <p class="opacity-[.85]">Я с радостью проведу с вами предварительную встречу мы посидим в кафе, поболтаем, или же просто пообщаемся по skype. Так мы лучше узнаем друг друга, вы расскажете, что нравится вам, а я поделюсь своим опытом.</p>
        </div>
        <div class="flex items-start mb-[21px]">
            <img src="{% static 'photo_galirey/img/-_icon.svg' %}" alt="--" class="mt-[12px] mr-[12px]">
            <p class="opacity-[.85]">Во время съёмки весь материал дублируется на 2 флешки — риск остаться без фотографий равен нулю.</p>
        </div>
        <div class="flex items-start mb-[21px]">
            <img src="{% static 'photo_galirey/img/-_icon.svg' %}" alt="--" class="mt-[12px] mr-[12px]">
            <p class="opacity-[.85]">Я отдаю фотографии через современный специализированный сайт-галерею. Поверьте, это выглядит намного красивее, чем на флешке, и не требует дополнительных временных затрат для передачи материала.</p>
        </div>
        <div class="flex items-start mb-[21px]">
            <img src="{% static 'photo_galirey/img/-_icon.svg' %}" alt="--" class="mt-[12px] mr-[12px]">
            <p class="opacity-[.85]">Я не стесняюсь показать полный материал с других свадеб так вы сможете наглядно убедиться в моем профессионализме и будете уверены в результате.</p>
        </div>
    </div>
</section>

<section class="pt-24">
    <h2 class="mb-6 text-[30px] mx-auto px-2 max-w-7xl">Услуги</h2>
    {% for i in services %}
    <div class="border-t-[1px] border-solid border-[#212123]/[.30]">
        <div class="bg-center bg-cover services_list_unactiv" style="background-image: url({{ i.img_background_services.url }})" data-index="{{ i.pk }}">
            <div class="bg-white/[.88] py-[15px]">
                <div class="mx-auto px-[38px] max-w-7xl flex justify-between">
                    <h3 class="text-[20px]">{{ i.name_services }}</h3>
                    <img src="{% static 'photo_galirey/img/+_icon.svg' %}" alt="" class="cursor-pointer services_button_open" data-index="{{ i.pk }}">
                </div>
            </div>
        </div>

        <div class="bg-center bg-cover hidden services_list_activ" style="background-image: url({{ i.img_background_services.url }})" data-index="{{ i.pk }}">
             <span class="h-[1px] block"></span>
            <div class="bg-white/[.88] mt-[200px]">
                <div class="mx-auto px-2 max-w-7xl">
                    <div class="flex justify-between py-[15px] px-[30px]">
                        <h3 class="text-[#C08267] text-[24px]">{{ i.name_services }}</h3>
                        <img src="{% static 'photo_galirey/img/-_icon.svg' %}" alt="" class="cursor-pointer services_buttons_close" data-index="{{ i.pk }}">
                    </div>
                    <div class="py-[15px] px-[30px] flex-col">
                        <div class="flex justify-between">
                            <div class="w-[50%]">
                                <ul class="">
                                    {% for j in specifics_services %}
                                        {% if j.services == i %}
                                        <li class="flex mb-[20px]">
                                            <img src="{% static 'photo_galirey/img/-_icon.svg' %}" alt="--" class="mt-[6px] mr-[12px]">
                                            <span>{{ j.specifics }}</span>
                                        </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="w-[50%]">
                                <p>	&emsp;{{ i.description }}</p>
                                <div class="mt-[30px] mb-[20px]">
                                    <span class="font-bold">Почему это столько стоит?</span>
                                    <p>	&emsp;{{ i.question_price }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="flex justify-between text-[20px]">
                            <span class="">{{ i.price|intcomma }} р</span>
                            <a href="#" class="border-b-2 border-[#C08267]">Заказать</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <span class="h-[1px] w-full bg-[#212123]/[.30] block"></span>
</section>

<section class="flex-col px-2 pt-24 mx-auto max-w-7xl">
    <h2 class="mb-6 text-[30px]">Лучшие Работы</h2>
    <div class="flex justify-between h-[1400px] mb-[35px]">
        <div class="flex flex-col justify-between">
            <img src="{% static 'photo_galirey/img/gallery_img_1.png' %}" alt="" class="h-[270px] w-[414.666666px]  object-cover">
            <img src="{% static 'photo_galirey/img/gallery_img_2.png' %}" alt="" class="h-[550px] w-[414.666666px]  object-cover">
            <img src="{% static 'photo_galirey/img/gallery_img_3.png' %}" alt="" class="h-[270px] w-[414.666666px]  object-cover">
            <img src="{% static 'photo_galirey/img/gallery_img_4.png' %}" alt="" class="h-[270px] w-[414.666666px]  object-cover">
        </div>
        <div class="flex flex-col justify-between">
            <img src="{% static 'photo_galirey/img/gallery_img_5.png' %}" alt="" class="h-[550px] w-[414.666666px]  object-cover">
            <img src="{% static 'photo_galirey/img/gallery_img_6.png' %}" alt="" class="h-[270px] w-[414.666666px]  object-cover">
            <img src="{% static 'photo_galirey/img/gallery_img_7.png' %}" alt="" class="h-[270px] w-[414.666666px]  object-cover">
            <img src="{% static 'photo_galirey/img/gallery_img_1.png' %}" alt="" class="h-[270px] w-[414.666666px]  object-cover">
        </div>
        <div class="flex flex-col justify-between">
            <img src="{% static 'photo_galirey/img/gallery_img_2.png' %}" alt="" class="h-[270px] w-[414.666666px]  object-cover">
            <img src="{% static 'photo_galirey/img/gallery_img_3.png' %}" alt="" class="h-[270px] w-[414.666666px]  object-cover">
            <img src="{% static 'photo_galirey/img/gallery_img_4.png' %}" alt="" class="h-[270px] w-[414.666666px]  object-cover">
            <img src="{% static 'photo_galirey/img/gallery_img_5.png' %}" alt="" class="h-[550px] w-[414.666666px]  object-cover">
        </div>
    </div>
    <div class="flex justify-end"><a href="{% url 'gallery' %}" class="border-b-2 border-[#C08267] text-[20px]">Остальное портфолио</a></div>
</section>

<section class="px-2 pt-24 pb-24 mx-auto max-w-7xl">
    <h2 class="mb-6 text-[30px]">Часто задаваемые вопросы</h2>
    <div>
        {% for i in faq %}
        <div class="border-t-[1px] border-solid border-[#212123]/[.30]">
            <div class="faq_list_unactiv" data-index="{{ i.pk }}">
                <div class="flex justify-between my-[15px] mx-[30px]">
                    <span class="text-[20px]">{{ i.name_faq }}</span>
                    <img src="{% static 'photo_galirey/img/+_icon.svg' %}" alt="" class="cursor-pointer faq_button_open" data-index="{{ i.pk }}">
                </div>
            </div>
            <div class="hidden faq_list_activ" data-index="{{ i.pk }}">
                <div class="flex justify-between my-[15px] mx-[30px]">
                    <span class="text-[#C08267] text-[24px]">{{ i.name_faq }}</span>
                    <img src="{% static 'photo_galirey/img/-_icon.svg' %}" alt="" class="cursor-pointer faq_buttons_close" data-index="{{ i.pk }}">
                </div>
                <div class="mb-[15px] mx-[45px] opacity-[.85]">
                    {{ i.description|linebreaksbr|linebreaks }}
                </div>
            </div>
        </div>
        {% endfor %}
        <span class="h-[1px] w-full bg-[#212123]/[.30] block"></span>
    </div>
</section>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script type="module" src="{% static 'photo_galirey/js/index.js' %}"></script>
{% include  'photo_galirey/footer.html' %}